/* CSS3 practice from coursera courses */
/* 
***************************
Color is from https://material.io/guidelines/style/color.html#color-color-palette 

Some other desirable CSS examples: http://www.csszengarden.com/
***************************
*/

body{
	font-size: 120%;
	margin: 2% 20%;
	background: #F5F5F5; /* Grey 100 */
}

header{
	text-align: center;
	background: #3F51B5; /* Indigo 500 */
	background: -webkit-linear-gradient(bottom right, #3F51B5, #9FA8DA); /* Indigo 200 */
	background: -moz-linear-gradient(bottom right, #3F51B5, #9FA8DA);
	background: -o-linear-gradient(bottom right, #3F51B5, #9FA8DA);
	background: linear-gradient(to bottom right, #3F51B5, #9FA8DA);
}

h1{
	color: #FFFFFF; /* White */
	font-family: Courier, Impact, Arial;
	font-variant: small-caps;
}

p{
	text-align: justify;
}

table{
	border-width: 1px 2px;
	margin: 3px;
	padding: 3px;
	/*border: outset; dotted, dashed, solid, double groove, ridge*/
	/*border-width: 3px 10px;  2 values: top/bottom right/left*/
	/*border-width: 3px 10px 20px;  3 values: top right/left bottom*/
	/*border-width: 3px 10px 20px 1px;  4 values: top right bottom left*/
}

ol{
	list-style-type: upper-roman;
}

figure img{
	width: 20%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

/* --- footer --- */

nav{
	text-align: center;
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, "Time New Roman", serif;
}

nav a{
	text-align: center;
	color: #FFFFFF;
	background: #3F51B5; /* Indigo 500 */
	display: inline-block;
	font-weight: bold;
	width: 20%;
	text-decoration: none;
	margin: 0 auto;
	font-family: Courier, Impact, Arial;
}

nav a:hover{
	background: #BDBDBD; /* Grey 400 */
	color: #1565C0; /* Blue 800 */
}

nav a:focus{
	background: #BDBDBD; /* Grey 400 */
	color: #1565C0; /* Blue 800 */
}

nav a:active{
	border: 3px solid #000000;
}

nav a.active{
	background-color: #EEEEEE; /* Grey 200 */
	color: #000000;
	border: 3px solid #000000;
}

#copyRight{
	text-align: center;
}